.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.smarttomcat/employee-application/conf/catalina.properties
/.smarttomcat/employee-application/conf/context.xml
/.smarttomcat/employee-application/conf/jaspic-providers.xml
/.smarttomcat/employee-application/conf/jaspic-providers.xsd
/.smarttomcat/employee-application/conf/logging.properties
/src/main/resources/schema.sql
/.smarttomcat/employee-application/conf/server.xml
/.smarttomcat/employee-application/conf/tomcat-users.xml
/.smarttomcat/employee-application/conf/tomcat-users.xsd
/.smarttomcat/employee-application/conf/web.xml
/.smarttomcat/employee-application.main/conf/catalina.properties
/.smarttomcat/employee-application.main/conf/context.xml
/.smarttomcat/employee-application.main/conf/jaspic-providers.xml
/.smarttomcat/employee-application.main/conf/jaspic-providers.xsd
/.smarttomcat/employee-application.main/conf/logging.properties
/.smarttomcat/employee-application.main/conf/server.xml
/.smarttomcat/employee-application.main/conf/tomcat-users.xsd
/.smarttomcat/employee-application.main/conf/web.xml
